<h2>Result</h2>
<div ng-if="list.isEmpty()">Nothing found</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Menu Item</th>
            <th>Code</th>
            <th>Description</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in list.found">
            <td>{{item.name}}</td>
            <td style="text-align: center;">{{item.short_name}}</td>
            <td>{{item.description}}</td>
            <td>
                <button ng-click="list.onRemove({index: $index});">Don't want this one!</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
    </div>
</div>