<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<h1>Narrow Down Your Chinese Menu Choice</h1>
<div ng-controller="NarrowItDownController as ctrl">
    <form class="searchParam">
        <div>
            <input type="text" placeholder="search term"
                   ng-model="ctrl.searchTerm">
        </div>
        <button ng-click="ctrl.narrowIt()">Narrow It Down For Me!</button>
    </form>

    <found-items found="ctrl.items" on-remove="ctrl.removeItem(index)"></found-items>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
